--disable-brlapi
--disable-docs
--disable-curses
--disable-gtk
--disable-opengl
--disable-sdl
--disable-spice
--disable-vte
--disable-vnc
--disable-vnc-jpeg
--disable-png
--disable-vnc-sasl
--disable-auth-pam
--disable-glusterfs
--disable-libiscsi
--disable-libnfs
--disable-libssh
--disable-bzip2
--disable-lzo
--disable-snappy
--disable-slirp
--disable-libusb
--disable-usb-redir
--disable-tcg
--static
--disable-debug-tcg
--disable-tcg-interpreter
--disable-qom-cast-debug
--disable-libudev
--disable-curl
--disable-rdma
--disable-tools
--enable-virtfs
--disable-bsd-user
--disable-linux-user
--disable-sparse
--disable-vde
--disable-nettle
--disable-xen
--disable-capstone
--disable-virglrenderer
--disable-replication
--disable-smartcard
--disable-guest-agent
--disable-guest-agent-msi
--disable-vvfat
--disable-vdi
--disable-qed
--disable-qcow1
--disable-bochs
--disable-cloop
--disable-dmg
--disable-parallels
--disable-colo-proxy
--disable-debug-graph-lock
--disable-hexagon-idef-parser
--disable-libdw
--disable-pipewire
--disable-pixman
--disable-relocatable
--disable-rutabaga-gfx
--disable-vmdk
--disable-vpc
--disable-vhdx
--disable-hv-balloon
--disable-qpl
--disable-uadk
--disable-debug-remap
--disable-gio
--disable-libdaxctl
--disable-oss
--enable-kvm
--enable-vhost-net
--enable-linux-aio
--enable-linux-io-uring
--enable-virtfs
--enable-attr
--enable-cap-ng
--enable-seccomp
--disable-passt
--disable-libpmem
--enable-malloc-trim
--target-list=x86_64-softmmu
--extra-cflags=" -O2 -fno-semantic-interposition -falign-functions=32 -D_FORTIFY_SOURCE=2"
--extra-ldflags=" -z noexecstack -z relro -z now"
--prefix=/opt/urunc
--libdir=/opt/urunc/lib/qemu
--libexecdir=/opt/urunc/libexec/qemu
--datadir=/opt/urunc/share/qemu
