name: Get/Build Qemu artifacts

on:
  workflow_call:
    inputs:
      qemu_version:
        description: 'Qemu version to build'
        type: string
        required: false
        default: 'v10.1.1'
      arch:
        description: 'The CPU architecture to build Solo5'
        type: string
        required: false
        default: '["amd64", "arm64"]'
      runner-arch-map:
        description: 'Mapping of CPU architecture to runner names'
        type: string
        required: false
        default: '{"amd64":"ubuntu-24.04", "arm64":"ubuntu-24.04-arm"}'
    outputs:
      artifact_suffix:
        description: 'The suffix of the Qemu artifact (version-hash)'
        value: ${{ jobs.summarize-info.outputs.suffix }}
      artifact_run_id:
        description: 'The run id that built the Qemu artifacts'
        value: ${{ jobs.summarize-info.outputs.run_id }}

jobs:
  check-artifact-existence:
    runs-on: ubuntu-latest
    outputs:
      suffix: ${{ steps.name.outputs.suffix }}
      exists: ${{ steps.search.outputs.exists }}
      run_id: ${{ steps.search.outputs.run_id }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Generate Qemu artifact name
        id: name
        run: |
          QEMU_AMD64_CONFIG=$( sort qemu/amd64.config )
          QEMU_ARM64_CONFIG=$( sort qemu/arm64.config )
          QEMU_IGNORE_LIST=$( sort qemu/unnecessary_files.txt )
          QEMU_FILES_HASH=$( echo $QEMU_AMD64_CONFIG $QEMU_ARM64_CONFIG $QEMU_IGNORE_LIST | md5sum | cut -d ' ' -f 1)
          echo "hash=${QEMU_FILES_HASH}" >> $GITHUB_OUTPUT
          echo "suffix=${{ inputs.qemu_version }}-${QEMU_FILES_HASH}" >> $GITHUB_OUTPUT
          echo "full=qemu-{0}-${{ inputs.qemu_version }}-${QEMU_FILES_HASH}" >> $GITHUB_OUTPUT

      - name: Search for amd64 artifact
        id: search_amd64
        uses: ./.github/actions/get-artifact-info/
        with:
          name: ${{ format(steps.name.outputs.full, 'amd64') }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Search for armd64 artifact
        id: search_arm64
        uses: ./.github/actions/get-artifact-info/
        with:
          name: ${{ format(steps.name.outputs.full, 'arm64') }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Summarize search results
        id: search
        run: |
          if [[ ${{ steps.search_amd64.outputs.exists }} == 'false' ]] || \
             [[ ${{ steps.search_arm64.outputs.exists }} == 'false' ]]
          then
            echo "exists=false" >> $GITHUB_OUTPUT
            echo "run_id=" >> $GITHUB_OUTPUT
            echo "download_url=" >> $GITHUB_OUTPUT
          else
            if [[ ${{ steps.search_amd64.outputs.run_id }} != ${{ steps.search_arm64.outputs.run_id }} ]]
            then
              echo "exists=false" >> $GITHUB_OUTPUT
              echo "run_id=" >> $GITHUB_OUTPUT
              echo "download_url=" >> $GITHUB_OUTPUT
            else
              echo "exists=true" >> $GITHUB_OUTPUT
              echo "run_id=${{ steps.search_arm64.outputs.run_id }}" >> $GITHUB_OUTPUT
              echo "download_url=${{ steps.search_arm64.outputs.download_url }}" >> $GITHUB_OUTPUT
            fi
          fi

  build-Qemu:
    name: Build Qemu static binaries
    needs: [check-artifact-existence]
    if: ${{ needs.check-artifact-existence.outputs.exists == 'false' }}
    strategy:
      matrix:
        arch: ${{ fromJSON(inputs.arch) }}
    runs-on: ${{ fromJSON(inputs.runner-arch-map)[matrix.arch] }}
    outputs:
      run_id: ${{ github.run_id }}
    steps:

      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Install base dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git build-essential ninja-build libglib2.0-dev libaio-dev liburing-dev libseccomp-dev libcap-ng-dev librados-dev

      - name: Fetch configure and build Qemu
        run: |
          CONFIG=$( cat qemu/${{ matrix.arch }}.config )
          git clone -b ${{ inputs.qemu_version }} https://github.com/qemu/qemu.git --depth=1 qemu_source
          cd qemu_source
          printf %s "$CONFIG" | xargs ./configure
          make -j$(nproc)
          make install DESTDIR="/tmp/qemu_build"
       
      - name: Remove unncessary files
        run: |
          source qemu/unnecessary_files.txt
          cd /tmp/qemu_build
          for pattern in "${qemu_black_list[@]}"
          do
            find . -path "$pattern" | xargs rm -rfv
          done
       
      - name: Archive Qemu artifacts
        uses: actions/upload-artifact@v4
        with:
          name: qemu-${{ matrix.arch }}-${{ needs.check-artifact-existence.outputs.suffix }}
          path: /tmp/qemu_build

  summarize-info:
    runs-on: ubuntu-latest
    needs: [check-artifact-existence, build-Qemu]
    if: ${{ !cancelled() }}
    outputs:
      suffix: ${{ needs.check-artifact-existence.outputs.suffix }}
      run_id: ${{ steps.info.outputs.run_id }}
    steps:
      - name: Produce correct artifact info
        id: info
        run: |
          if [[ "${{ needs.check-artifact-existence.outputs.exists }}" == "false" ]]
          then
            echo "run_id=${{ needs.build-Qemu.outputs.run_id }}" >> $GITHUB_OUTPUT
          else
            echo "run_id=${{ needs.check-artifact-existence.outputs.run_id }}" >> $GITHUB_OUTPUT
          fi
